<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="autoopen" value="true"/>
		<add key="recent" value=""/>
		<add key="weekslimit" value="2"/>
		<add key="silentexceptions" value="GanttTracker.TaskManager.ManagerException.ManagementException"/>
	</appSettings>
</configuration>
