<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="autoopen" value="true" />
		<add key="single" value="true" />
		<add key="weekslimit" value="2" />
		<add key="passed_state" value="success;failed" />
		<add key="silentexceptions" value="GanttTracker.TaskManager.ManagerException.ManagementException" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
