<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="autoopen" value="true" />
		<add key="autosave" value="true" />
		<add key="single" value="true" />
		<add key="weekslimit" value="2" />
		<add key="webpage" value="d:\index.html" />
		<add key="passed_state" value="success;failed" />
		<add key="silentexceptions" value="GanttTracker.TaskManager.ManagerException.ManagementException" />
		<add key="GDRIVE_CLIENT_ID" value="167315580398-bjh640fapnr8i2q4tr3ooifsa6ev4oe8.apps.googleusercontent.com" />
		<add key="GDRIVE_CLIENT_SECRET" value="JUk9QXdWVBpGQCyhui3cUonm" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cairo" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
